html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-size: 16px;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

img {
  max-width: 100%;
}

.crumb-item::first-letter {
  text-transform: capitalize;
}
::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #dec09d;
  border-radius: 4px;
}

.before-none {
  &::before {
    display: none;
  }
}

form div.ant-form-item-explain .ant-form-item-explain-error:not(:first-child) {
  display: none;
}

button,
input,
optgroup,
select,
textarea {
  font-weight: 500;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
label {
  display: block;
}
